# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df_hawaii_measurements = pd.read_csv('Resources/hawaii_measurements.csv')

In [3]:
# Convert the date column format from string to datetime
df_hawaii_measurements['date']= pd.to_datetime(df_hawaii_measurements['date'])

In [4]:
# Set the date column as the DataFrame index
df_hawaii_measurements = df_hawaii_measurements.set_index(df_hawaii_measurements['date'])
df_hawaii_measurements.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [5]:
# Drop the date column
df_hawaii_measurements = df_hawaii_measurements.drop(columns='date')
df_hawaii_measurements.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
df_june = df_hawaii_measurements[df_hawaii_measurements.index.month == 6]

In [8]:
# Identify the average temperature for June
df_june.tobs.mean()

74.94411764705882

In [9]:
# Identify the average temperature for December
df_december = df_hawaii_measurements[df_hawaii_measurements.index.month == 12]
df_december.tobs.mean()

71.04152933421226

In [10]:
# Create collections of temperature data
june_collection = df_june.tobs
december_collection = df_december.tobs

In [11]:
# Run unpaired t-test
tstat, pvalue = stats.ttest_ind(june_collection, december_collection)

# print pvalue from unpaired t-test
pvalue

3.9025129038616655e-191

### Analysis

* Hawaii is reputed to enjoy mild weather all year. Is there a meaningful difference between the temperature in June and December?

* The p-value from above is less than 0.05 which means it is statistically significant. It indicates strong evidence against the null hypothesis. Becauase the p-value is virtually 0.00 (when rounded), we *should* reject the null hypothesis.

* Although a difference between 75 and 71 degrees does not seem significant for someone's personal opinion, the p-value < 0.05 means that we *can* conclude a significant difference in average temperatures exists, statistically speaking.